body {
    background-color: darkblue;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }
  .cheats{
    justify-content: space-around;
    left:auto;
    display:flex;
    align-items: center;
    margin: 6px;
    top:20px;

  }


  #addGold{
    color:gold;
    background-color: black;
    display:none;

  }
  #addHealth{
    background-color: black;
    color:red;
    display:none;
  }
  #cheatManu{
    color:black;
  }
  #enableCheats{
    display:block;
    position:relative;
    
  }
  #restartGame{

    
    display:none;
  }